h1{
    position: absolute;
    color: red;
    background-color: green;
}
@media (max-width: 530px) {
    #h1{
        visibility: visible;
    }
    #h2{
        visibility: hidden;
    }
}
@media (min-width: 530px) {
    #h1{
        visibility: hidden;
    }
    #h2{
        visibility: visible;
    }
}
